@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
html{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently */
  font-family: "Noto Sans";
  font-size: 15px;
    -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
 nav.stroke ul li a{
  position: relative;
}
nav.stroke ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: black;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


.center {
  text-align: center;
}

section {
}

/* NAVIGATION */
nav {
  width: 80%;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding-top: 15px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #000;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #000;
}

h1{

  font-size: 26px;
  font-weight: bold;
}

a{
  color: #000;
    text-decoration: none;  
}
a:hover {
  color: #1A224D;
  text-decoration: none;  
  outline: 0;
}
a:focus {
  text-decoration: none;  
  outline: 0;
}
.special:hover{
  color: #000;
   transition: 1s linear;
}
.navbar-brand {
  font-size: 16px;
  font-weight: bold;
  margin-left: calc(50% - 571px)
}
.navbar-right {
margin-top: -38px;
  position: absolute;
  width: 500px;
  top: 31px;
z-index: 0;
left: calc(50% - 250px);
font-size: 15px;
font-weight: normal;
padding-inline-start: 20px;
}

li {
  display: inline;
  padding-right: 30px;
}

.navbar-inverse {
  background: rgba(0,0,0,0);

}


.phone {
  position: absolute;
  top: 0px;
  left: calc(50% + 467px);
  color: black;
  font-size: 15px;
  font-weight: normal;
}
#phone{
  position: absolute;
  top: 3px;
  left: -25px;
}
.fake {

}

.first {
  background-color: white;
  background-image: url(1/fon1.png); 
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;

  min-height: 1000px;
}
#bruh{
position: absolute;
left: calc(50% - 610px);
}

.left1{
  height: 700px;
  background-color: white;

}
.insideleft{
  position: absolute;
  width: 372px;
  left: calc(50% - 610px);
  top: 240px;
}
h1{
  font-size: 36px;
}
.insideright{
  position: absolute;
  left: calc(50% + 59px);
  top: 146px;
}
.ramka{
  position: absolute;
  left: 0px;
}
#learnmore{
  margin-top: 30px;
}
.strelka{
  position: absolute;
  margin-top: 11px;
  margin-left: 10px;
}
.palka{

  margin-bottom: 5px;
  margin-left: 10px;
}


.second{
  height: 650px;
  background-color: white;

}
.insideright2{
  position: absolute;
  width: 385px;
  left: calc(50% + 200px);
  margin-top: 100px;
}
.insideleft2{
  position: absolute;
  width: 478px;
  left: calc(50% - 610px);
}
.socialimg{
  margin-bottom: -1px;
  margin-left: 10px;
}
#social{
  margin-top: 30px;
}
.third, .four, .five{
  height: calc(819px);
  width: 100%;
  background: white;
  display:inline-block;
  margin: auto;
}
.left3{
  width: 50%;
  position: absolute;
  left: calc(50% - 610px);
  font-size: 30px;
  line-height: 148.18%;
  font-style: normal;
font-weight: bold;
}
.right3{
  margin-top: 6px;
  text-align: right;
  width: 50%;
  position: absolute;
  right: calc(50% - 572px);
  font-size: 24px;
  line-height: 148.18%;
  font-style: normal;
}
.strelka1{
  position: absolute;
  margin-top: 18px;
  margin-left: 10px;
}
.main3{
  position: absolute;
  width: 1359px;
  height: 613px;
  background-color: white;
        left: calc(50% - 679.5px);


  margin-top: 100px;
}
#f1{
  position: absolute;
  height: 49%;
  left: 0px;
}
#f2{
  position: absolute;
  height: 49%;
  margin-left: calc(229px); 
   transition: linear 0.2s;
}
#f2:hover {
    margin-top: -7.475px;
  height: 51%;
  margin-left: calc(229px - 5.35px); 

}
#f3{
  position: absolute;
  height: 49%;
  bottom: 0vw;
  left: 0%;
}
#f4{
  position: absolute;
  height: 49%;
  left: calc(229px); 
  bottom: 0vw;
}
#f5{
  position: absolute;
  left: calc(50% - 221.5px); 
  height: 100%;
  transition: linear 0.2s;
}
#f5:hover {
  margin-top: -15.325px;
  position: relative;
  left: calc(50% - 232.575px); 
  height: 105%;
  z-index: 3;
}

#f6{
  position: absolute;
  height: 49%;
  right: calc(229px); 
}
#f7{
  position: absolute;
  height: 49%;
  right: 0%; 
}
#f8{
  position: absolute;
  height: 49%;
  bottom: 0%;
  right: calc(229px); 
}
#f9{
  position: absolute;
  height: 49%;
  bottom: 0%;
  right: 0%;  
}