@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
html{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently */
  font-family: "Noto Sans";
  font-size: 15px;
    -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  margin: 0px;
}
body{
margin: 0px;
}
 nav.stroke ul li a{
  position: relative;
}
nav.stroke ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: black;
  height: 2px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


.center {
  text-align: center;
}

section {
}

/* NAVIGATION */
nav {
  width: 80%;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding-top: 15px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #000;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #000;
}

h1{

  font-size: 26px;
  font-weight: bold;
}

a{
  color: #000;
    text-decoration: none;  
}
a:hover {
  color: #1A224D;
  text-decoration: none;  
  outline: 0;
}
a:focus {
  text-decoration: none;  
  outline: 0;
}
.special:hover{
  color: #000;
   transition: 1s linear;
}
.navbar-brand {
  font-size: 16px;
  font-weight: bold;
  margin-left: calc(50% - 571px)
}
.navbar-right {
margin-top: -38px;
  position: absolute;
  width: 500px;
  top: 31px;
z-index: 0;
left: calc(50% - 250px);
font-size: 15px;
font-weight: normal;
padding-inline-start: 20px;
}

li {
  display: inline;
  padding-right: 30px;
}

.navbar-inverse {
  background: rgba(0,0,0,0);

}


.phone {
  position: absolute;
  top: 0px;
  left: calc(50% + 467px);
  color: black;
  font-size: 15px;
  font-weight: normal;
}
#phone{
  position: absolute;
  top: 3px;
  left: -25px;
}
.fake {

}

.first {
  background-color: white;
  background-image: url(1/fon1.png); 
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;

  min-height: 1000px;
}
#bruh{
position: absolute;
left: calc(50% - 610px);
}

.left1{
  height: 700px;
  background-color: white;

}
.insideleft{
  position: absolute;
  width: 372px;
  left: calc(50% - 610px);
  top: 240px;
}
h1{
  font-size: 36px;
}
.insideright{
  position: absolute;
  left: calc(50% + 59px);
  top: 146px;
}
.ramka, .ramka1{
  position: absolute;
  left: 0px;
  top: 0px;
}
.ramka2{
  position: absolute;
  right: 0px;
  top: 0px;
}
.ramka3{
  position: absolute;
  left: 42px;
  top: 0px;
}
.ramka4{
  position: absolute;
  left: 42px;
  bottom: 0px;
}
#learnmore{
  margin-top: 30px;
}
.strelka{
  position: absolute;
  margin-top: 11px;
  margin-left: 10px;
}
.palka{

  margin-bottom: 5px;
  margin-left: 10px;
}


.second{
  height: 650px;
  background-color: white;

}
.insideright2{
  position: absolute;
  width: 385px;
  left: calc(50% + 200px);
  margin-top: 100px;
}
.insideleft2{
  position: absolute;
  width: 478px;
  left: calc(50% - 610px);
}
.socialimg{
  margin-bottom: -1px;
  margin-left: 10px;
}
#social{
  margin-top: 30px;
}
.third, .four {
  height: calc(819px);
  width: 100%;
  background: white;
  display:inline-block;
  margin: auto;
}
.five{
  position: relative;
  height: calc(1480px);
  width: 100%;
  background: white;
  display:inline-block;
  margin: auto;
}
.left3{
  width: 50%;
  position: absolute;
  left: calc(50% - 610px);
  font-size: 30px;
  line-height: 148.18%;
  font-style: normal;
font-weight: bold;
}
.right3{
  margin-top: 6px;
  text-align: right;
  width: 50%;
  position: absolute;
  right: calc(50% - 572px);
  font-size: 24px;
  line-height: 148.18%;
  font-style: normal;
}
.strelka1{
  position: absolute;
  margin-top: 18px;
  margin-left: 10px;
}
.main3{
  position: absolute;
  width: 1359px;
  height: 613px;
  background-color: white;
        left: calc(50% - 679.5px);


  margin-top: 100px;
}
#f1{
  position: absolute;
  height: 49%;
  left: 0px;
  transition: linear 0.2s;
}
#f1:hover {
    margin-top: -7.475px;
  height: 51%;
  margin-left: calc(-5.35px); 

}
#f2{
  position: absolute;
  height: 49%;
  left: calc(229px); 
   transition: linear 0.2s;
}
#f2:hover {
    margin-top: -7.475px;
  height: 51%;
  margin-left: calc(-5.35px); 

}
#f3{
  position: absolute;
  height: 49%;
  bottom: 0vw;
  left: 0%;
  transition: linear 0.2s;
}
#f3:hover {
    margin-bottom: -7.475px;
  height: 51%;
  margin-left: calc(-5.35px); 

}
#f4{
  position: absolute;
  height: 49%;
  left: calc(229px); 
  bottom: 0vw;
  transition: linear 0.2s;
}
#f4:hover {
    margin-bottom: -7.475px;
  height: 51%;
  margin-left: calc(-5.35px); 

}
#f5{
  position: absolute;
  left: calc(50% - 221.5px); 
  height: 100%;
  transition: linear 0.2s;
}
#f5:hover {
  margin-top: -6.13px;
  position: relative;
  left: calc(50% - 225.93px); 
  height: 102%;
  z-index: 3;
}

#f6{
  position: absolute;
  height: 49%;
  right: calc(229px); 
  transition: linear 0.2s;
}
#f6:hover, #f7:hover {
    margin-top: -7.475px;
  height: 51%;
  margin-right: calc(-5.35px); 

}
#f7{
  position: absolute;
  height: 49%;
  right: 0%; 
  transition: linear 0.2s;
}

#f8{
  position: absolute;
  height: 49%;
  bottom: 0%;
  right: calc(229px); 
  transition: linear 0.2s;
}
#f9{
  position: absolute;
  height: 49%;
  bottom: 0%;
  right: 0%;  
  transition: linear 0.2s;
}
#f8:hover, #f9:hover {
    margin-bottom: -7.475px;
  height: 51%;
  margin-right: calc(-5.35px); 

}

.main4{
  position: absolute;
  width: 1359px;
  height: 613px;
  background-color: white;
  left: calc(50% - 679.5px);
  margin-top: 728px;
}

#f11{
  position: absolute;
  height: 49%;
  left: 458px;
  transition: linear 0.2s;
}
#f11:hover {
    margin-top: -7.475px;
  height: 51%;
  margin-left: calc(-5.35px); 

}
#f12{
  position: absolute;
  height: 49%;
  left: calc(687px); 
   transition: linear 0.2s;
}
#f12:hover {
    margin-top: -7.475px;
  height: 51%;
  margin-left: calc(-5.35px); 

}
#f13{
  position: absolute;
  height: 49%;
  bottom: 0vw;
  left: 458px;
  transition: linear 0.2s;
}
#f13:hover {
    margin-bottom: -7.475px;
  height: 51%;
  margin-left: calc(-5.35px); 

}
#f14{
  position: absolute;
  height: 49%;
  left: calc(687px); 
  bottom: 0vw;
  transition: linear 0.2s;
}
#f14:hover {
    margin-bottom: -7.475px;
  height: 51%;
  margin-left: calc(-5.35px); 

}
#f15{
  position: absolute;
  left: calc(0); 
  height: 100%;
  transition: linear 0.2s;
}
#f15:hover {
  margin-top: -6.13px;
  position: absolute;
  margin-left: calc(-5.35px); 
  height: 102%;
  z-index: 3;
}

#f16{
  position: absolute;
  right: calc(0px); 
  height: 100%;
  width: 444px;
  transition: linear 0.2s;
}
#f16:hover {
  width: 451.86px;
  margin-top: -6.13px;
  position: absolute;
  margin-right: calc(-5.35px); 
  height: 102%;
  z-index: 3;
}
.up{
  position: absolute;
  background-color: rgba(233, 233, 233, 0.6);
  width: 92px;
  height: 1241px;
  top: 100px;
  z-index: 4;
  right: calc(50% - 679.5px)
}
.arrow_up{
  position: absolute;
  left: calc(50% - 23.5px);
  top: calc(50% - 13px);
}
.showmore{
  position: absolute;
  left: 50%;
  width: 1359px;
  left: calc(50% - 679.5px);
  bottom: -71px;
  background-color: #E9E9E9;
  height: 56px;
  border: 0px;
  font-weight: bold;
  font-size: 18px;
}
.six{
  position: relative;
  height: 464px;
  width: 100%;
  background-color: #D8D8D8;
}
h1.sixh{
  font-size: 24px;
}
.insideleft6{
  position: absolute;
  width: 372px;
  left: calc(50% - 610px);
  bottom: 176px;
  font-size: 15px;
}
#learnmore6{
  font-weight: bold;
}

.insideright6{
  margin-top: 13px;
  position: absolute;
  left:50%;
  width: 410px;
  font-weight: normal;
font-size: 15px;
line-height: 148.18%;
}
.input{
  padding-left: 15px;
  height: 56px;
  width: 400px;
  margin-top: 30px;
  border: 0px;
}
.order{
  background-color: black;
  font-weight: bold;
font-size: 13px;
line-height: 13px;
width: 88px;
height: 29px;
color: white;
margin-top: 30px;
border: 0px;
text-align: center;
}
.file{
  position: absolute;
  left: calc(560px);
  top: calc(-42px + 50%);
}
.navbar-header1{
  position: absolute;
  bottom: 37px;
  left: calc(50%-960px);
  background-color: white;
  width: 100%;
}
.kek{
  position: absolute;
  width: 100%;
  background-color: white;
  height: 92px;
  bottom: 0px
}